.Header{
  margin-bottom: 20px;
  
  .title{
    color: white;
    font-size: 3.5vw;
    margin-top: 1.5vw;
    padding: 0.7vw;
  }
  .author{
    color: white;
    font-size: 2vw;
    padding: 0.7vw;
    margin-bottom: 0.5vw;
  }
  .description{
    color: white;
    font-size: 1.7vw;
    width: 75%;
    margin: auto;
  }

  .Link{
    text-decoration: none;
  }

  @media screen and (max-width: 800px){
    .title{
      width: 80%;
      margin: auto;
      font-size: 28px;
      margin-top: 3vw;
      padding: 3vw;
    }
    .author{
      font-size: 20px;
      padding-top: 3vw;
      padding-bottom: 3vw;
    }
    .description{
      width: 85%;
      font-size: 14px;
    }
  }

}