.Footer{
  margin-top: 50px;
  margin-bottom: 50px;
  a{
    font-family: 'Courier New', Courier, monospace;
    display: block;
    color: black;
    background: white;
    border-radius: 0.4em;
    text-decoration: none;
    width: 200px;
    margin: auto;
    padding: 8px;
    font-size: 18px;
    text-align: center;
  }

  a:hover{
    border: 5px white solid;
  }
}